@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import url(//db.onlinewebfonts.com/c/5b8227fdeaf552bd1c914c751bd6e2b9?family=CoreSansNRW01-87CnHeavy);
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --primary-color: #252525;
  --secondary-color: #fafafa;
  --third-color: 0px 10px 30px rgba(65, 65, 65, 0.25);
  --fourth-color: #313131;
  --fifth-color: 10px 20px 30px rgba(65, 65, 65, 0.25);
  --six-color: linear-gradient(90deg, #8E0E00 0%, #1F1C18 100%);
  --seven-color: #ff0000;
  --kalo: url("./Assets/KaloHover.png");
  --mousy: url("./Assets/MousyHover.png");
  --himti: url("./Assets/HimtiHover.png");
  --portfolio: url("./Assets/PortfolioHover.png");
  --desaindoang: url("./Assets/DesainDoangHover.png");
  --prev: url("./Assets/prev.png");
  --next: url("./Assets/next.png");
}

.light-theme {
  --primary-color: #fafafa;
  --secondary-color: #252525;
  --third-color: 0px 10px 30px rgba(129, 129, 129, 0.10);
  --fourth-color: #eeeeee;
  --fifth-color: 10px 20px 30px rgba(218, 218, 218, 0.25);
  --six-color: linear-gradient(90deg, #F05053 0%, #E1EEC3 100%);
  --seven-color: #AF0404;
  --kalo: url("./Assets/KaloHover-light.png");
  --mousy: url("./Assets/MousyHover-light.png");
  --himti: url("./Assets/HimtiHover-light.png");
  --portfolio: url("./Assets/PortfolioHover-light.png");
  --desaindoang: url("./Assets/DesainDoangHover-light.png");
  --prev: url("./Assets/prev-light.png");
  --next: url("./Assets/next-light.png");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--seven-color);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.bm-burger-button {
  display: none;
}

button {
  outline: none;
  border: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.halaman-loading {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.logo {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-react {
  width: 30px;
  align-self: center;
  animation: 2s rotate360 infinite linear;
}

a {
  text-decoration: none;
}

#home {
  width: 100%;
  height: 587px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-gambar .logo-navbar {
  font-size: 40px;
  font-weight: 600;
  font-family: 'CoreSansNRW01-87CnHeavy', sans-serif;
  color: var(--secondary-color);
  margin: 0;
}

.dot-navbar {
  margin-left: 5px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 5vw;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}

.active {
  background-color: var(--primary-color);
  box-shadow: var(--third-color);
  transition: all ease 0.2s;
}

.menu .navi-link {
  font-family: 'Poppins';
  line-height: 13px;
  padding: 0px 20px;
  flex-direction: row;
  font-size: 0.9rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  color: var(--secondary-color);
}

.menu .navi-link:hover {
  font-size: 1rem;
  font-weight: 700;
  transition: all ease 0.2s;
  color: var(--seven-color);
}

.hero {
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}

.gambar-header {
  height: 450px;
  cursor: pointer;
}

@keyframes rotate360 {
  to {
    transform: rotate(360deg);
  }
}

.kiri {
  height: 236px;
}

.teks-hello {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 70px;
  margin: 0px 0px 10px 0px;
}

.container-teks-gerak {
  display: flex;
  flex-direction: row;
}

.teks-gerak {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 40px;
  margin: 0px 0px 5px 0px;
}

.teks-about {
  font-size: 15px;
  margin: 0
}

.button {
  width: 120px;
  height: 40px;
  color: var(--seven-color);
  font-family: 'Poppins';
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: 2px solid var(--seven-color);
  margin-top: 25px;
  font-size: 15px;
  position: relative;
  overflow: hidden;
}

.button::after {
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: -120px;
  color: #fff;
  border-radius: 0px 100px 100px 0px;
  background: var(--six-color);
  position: absolute;
  z-index: -10;
  transition: 1s;
}

.button:hover::after {
  left: 0;
  border-radius: 0px;
}

.container-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.anime {
  position: fixed;
  height: 80px;
  top: 50%;
  right: 3%;
  z-index: 99;
  opacity: 0;
  transition: 1s;
}

.anime-active {
  position: fixed;
  height: 80px;
  top: 77%;
  right: 3%;
  z-index: 99;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  transition: 1s;
  cursor: pointer;
}

.anime-active:hover {
  opacity: 1;
  animation-name: jump;
  animation-duration: 0.2s;
}

.bubble {
  font-family: 'Poppins' !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  border-radius: 100% !important;
  width: 80px !important;
  height: 50px !important;
  padding: 0px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  opacity: 0.7 !important;
}

@keyframes jump {
  0% {
    top: 72%;
    opacity: 1;
  }

  100% {
    top: 77%;
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#project {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-project {
  width: 90vw;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.container-header {
  margin-bottom: 20px;
}

.header-project {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 40px;
  margin: 0px 0px 5px 0px;
}

.box-image {
  width: 528px;
  height: 381px;
  background-color: var(--fourth-color);
  border-radius: 10px;
  box-shadow: var(--fifth-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box-image::before,
.box-image::after {
  content: '';
  width: 0;
  height: 0;
  border-radius: 10px;
  background: var(--six-color);
  position: absolute;
  z-index: -1;
}

.box-image::before {
  left: 0;
  top: -3px;
}

.box-image::after {
  right: 0;
  bottom: -3px;
}

.box-image:hover::before,
.box-image:hover::after {
  animation: stroke 1s linear;
  animation-fill-mode: forwards;
}

@keyframes stroke {
  0% {
    height: 3px;
    width: 0px;
  }

  50% {
    height: 3px;
    width: calc(100% + 3px);
  }

  100% {
    height: calc(100% + 6px);
    width: calc(100% + 3px);
  }
}

.image-project {
  width: 306px;
  height: 306px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.25);
}

.container-image {
  width: 306px;
  height: 306px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.container-image::after {
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: -350px;
  border-radius: 5px 100px 100px 5px;
  opacity: 1;
  position: absolute;
  z-index: 10;
  transition: 1s;
}

.kalo::after {
  background-image: var(--kalo);
}

.mousy::after {
  background-image: var(--mousy);
}

.himti::after {
  background-image: var(--himti);
}

.portfolio::after {
  background-image: var(--portfolio);
}

.desaindoang::after {
  background-image: var(--desaindoang);
}

.container-image:hover::after {
  left: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button-download {
  width: 150px;
  height: 40px;
  color: var(--seven-color);
  font-family: 'Poppins';
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: 2px solid var(--seven-color);
  margin-top: 25px;
  font-size: 15px;
  position: relative;
  overflow: hidden;
}

.button-download::after {
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: -150px;
  color: #fff;
  border-radius: 0px 100px 100px 0px;
  background: var(--six-color);
  position: absolute;
  z-index: -10;
  transition: 1s;
}

.button-download:hover::after {
  left: 0;
  border-radius: 0px;
}

.container-button-mousy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 320px;
}

.container-isi-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.reverse {
  flex-direction: row-reverse;
}

.container-deskripsi-project {
  width: 433px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-text {
  text-align: right;
}

#certification {
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-certification {
  width: 90vw;
}

.container-header-certification {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.header-certification {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 40px;
  margin: 0px 0px 5px 0px;
}

.teks-certification {
  font-size: 15px;
  margin: 0
}

.slick-slide img {
  margin: auto;
}

.slide img {
  height: 212px;
  width: 300px;
}

.slide {
  transForm: scale(0.8);
  transition: transForm 300ms;
  opacity: 0.5;
}

.activeSlide {
  transForm: scale(1);
  opacity: 1;
}

.dots-slider {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  margin-top: 15px;
  background-color: var(--seven-color);
}

.dots-slider-active {
  height: 7px;
  width: 7px;
  border-radius: 100%;
  margin-top: 14px;
  background-color: var(--secondary-color);
}

.next {
  position: absolute;
  right: 20%;
  bottom: -14%;
  width: 29px;
  height: 29px;
  cursor: pointer;
  z-index: 10;
  background-image: var(--next)
}

.prev {
  position: absolute;
  left: 20%;
  bottom: -14%;
  width: 29px;
  height: 29px;
  cursor: pointer;
  z-index: 10;
  background-image: var(--prev)
}

#contact {
  width: 100%;
  height: 587px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-contact {
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: space-around;
}

.gambar-contact {
  margin-left: -60px;
  height: 450px;
  cursor: pointer;
}

.kanan {
  width: 458px;
  height: 223px;
  background-color: var(--fourth-color);
  border-radius: 10px;
  box-shadow: var(--fifth-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.kanan::before,
.kanan::after {
  content: '';
  width: 0;
  height: 0;
  border-radius: 10px;
  background: var(--six-color);
  position: absolute;
  z-index: -1;
}

.kanan::before {
  left: 0;
  top: -3px;
}

.kanan::after {
  right: 0;
  bottom: -3px;
}

.kanan:hover::before,
.kanan:hover::after {
  animation: stroke 1s linear;
  animation-fill-mode: forwards;
}

.teks-contact {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  margin: 0px 0px 5px 0px;
  text-align: left;
  width: 350px;
}

.container-sosmed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 350px;
}

.icon-sosmed {
  width: 50px;
}

#footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  overflow: hidden;
  background-color: var(--fourth-color);
}

.logo-footer {
  font-size: 40px;
  font-weight: 600;
  font-family: 'CoreSansNRW01-87CnHeavy', sans-serif;
  color: var(--secondary-color);
  margin: 0;
}

.copyright {
  font-size: 20px;
  font-weight: 400;
  font-family: 'CoreSansNRW01-87CnHeavy', sans-serif;
  color: var(--secondary-color);
  margin: 15px 0 0 5px;
}

.container-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-build {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.teks-build {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
}

@media(max-width:1025px) {

  body {
    margin: 0px;
    padding: 0px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
  }

  * {
    box-sizing: border-box;
  }

  #home {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }

  nav {
    display: none;
  }

  .hero {
    height: 600px;
    flex-direction: column;
  }

  .kiri {
    width: 100%;
  }

  .gambar-header {
    height: 350px;
  }

  .teks-hello {
    font-size: 40px;
  }

  .teks-gerak {
    font-size: 25px;
  }

  .dot-teks {
    width: 20px;
  }

  .teks-about {
    font-size: 12px;
  }

  .button {
    width: 100px;
  }

  .container-button {
    width: 320px;
  }

  #project {
    width: 100%;
    overflow: hidden;
  }

  .container-project {
    margin-top: 0;
  }

  .container-header {
    margin-bottom: 20px;
  }

  .header-project {
    font-size: 25px;
  }

  .box-image {
    width: 100%;
    height: 300px;
  }

  .image-project {
    width: 206px;
    height: 206px;
  }

  .container-image {
    width: 206px;
    height: 206px;
  }

  .container-image::after {
    background-size: cover;
  }

  .container-isi-project {
    flex-direction: column;
  }

  .reverse {
    flex-direction: column;
  }

  .container-deskripsi-project {
    width: 100%;
  }

  #certification {
    width: 100%;
    overflow: hidden;
  }

  .dots-slider,
  .dots-slider-active {
    display: none;
  }

  .next {
    right: -5%;
    top: 40%;
    width: 19px;
    height: 19px;
    background-size: cover;
  }

  .prev {
    left: -5%;
    top: 40%;
    width: 19px;
    height: 19px;
    background-size: cover;
  }

  #contact {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }

  .hero-contact {
    height: 600px;
    flex-direction: column;
  }

  .gambar-contact {
    margin-left: 0;
    height: 350px;
  }

  .kanan {
    width: 100%;
  }

  .container-teks-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
  }

  .teks-contact {
    font-size: 20px;
  }

  .container-sosmed {
    justify-content: space-around;
    width: 90%;
  }

  .icon-sosmed {
    width: 50px;
  }

  #footer {
    width: 100%;
    overflow: hidden;
  }

  .logo-footer {
    font-size: 20px;
  }

  .copyright {
    font-size: 10px;
    margin: 10px 0 0 5px;
  }

  .dot-navbar {
    width: 5px;
  }

  .teks-build {
    font-size: 12px;
  }

  /* --------------------burger---------------------- */

  .menu {
    display: flex;
    height: 80vh;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
  }

  .bm-burger-button {
    display: block;
    position: fixed;
    width: 36px;
    height: 30px;
    left: 2%;
    top: 2%;
    -webkit-tap-highlight-color: transparent;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    -webkit-tap-highlight-color: transparent;
  }

  /* Color/shape of burger icon bars on hover*/

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
    -webkit-tap-highlight-color: transparent;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
  }

  /* General sidebar styles */
  .bm-menu {
    background-color: var(--primary-color);
    font-size: 1.15em;
    -webkit-tap-highlight-color: transparent;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: var(--primary-color);
    border: 0px !important;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px !important;
    -webkit-tap-highlight-color: transparent;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    border: 0px !important;
    -webkit-tap-highlight-color: transparent;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: var(--third-color);
    height: 100vh;
    overflow: hidden;
    top: 0;
  }

}